Package: raspyplayer
Version: 2.0-dev
Section: base
Priority: optional
Architecture: all
Depends: bash,python3,python3-tk
Maintainer: Julien Pecqueur <jpec@julienpecqueur.net>
Description: Media player for the Raspberry Pi.
Homepage: http://raspyplayer.org
