#!/usr/bin/env xdg-open
[Desktop Entry]
Name=RasPyPlayer MC
Exec=raspyplayer
Icon=/usr/share/pixmaps/raspyplayer.png
Type=Application
Categories=Media;
