#!/usr/bin/env xdg-open
[Desktop Entry]
Name=RasPyPlayer
Exec=RasPyPlayer /media/nas
Icon=/usr/share/pixmaps/raspyplayer.png
Type=Application
Categories=Media;
