#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Raspyplayer Media Center
Exec=raspyplayer-mc
Icon=/usr/share/pixmaps/raspyplayer-mc.png
Type=Application
Categories=AudioVideo;Player;
Name[fr_FR]=Raspyplayer Media Center
